.input-container{
  position: relative;
  width: 100%;
  height: 100%;
}
.close-icon{
  position: absolute;
  top: 20%;
  right:0px;
  transform: translate(-50%);
  cursor: pointer;
}
.close-icon:hover{
  color: rgb(212, 86, 86);
}
.parent{
  margin-top: 30px;
  
}
.use-btn{
  margin-left: 5px;
}
.root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 80vh;
}
.parent input{
  padding:10px 12px;
  border-radius: 5px;
  border: none;
  border: 0.5px solid #9b9b9b00;
  outline: none;
  color: rgb(190, 190, 190);
}
.parent input:focus{
  border: 0.5px solid #cccccc;
}
.list-parent{
  background: #a3a3a35d;
  color: #dfdede ;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.list-parent .list-sub-parent{
  display: flex;
  align-items: center;
  max-width: 170px;
}
.list-parent .list-sub-parent:hover{
 background: #7c7c7c5d;
 border-radius: 10px;
 cursor: pointer;
 transition: background 0.5s ease;
 /* padding: 0px 1px; */
}
.list-parent .list-sub-parent img{
 width: 50px;
 margin-left: 4px;
object-fit: cover;
border-radius: 10px;
 height: 50px;
}
.list-parent .list-sub-parent h6{
  margin-left: 10px;
  cursor: pointer;
}
.list-parent .list-sub-parent .content{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
width: 100%;
}
.list-parent .list-sub-parent p{
  background: #6e6e6e;
  color: #ffffff;
  padding: 5px 8px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
}